body {
  padding-top: 0; /* Dando un poco más que la altura de la navbar */
}

.custom-navbar {
  height: 370px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  padding: 0 20px;
}

.custom-navbar-brand {
  color: white !important; /* Cambia el color a blanco */
  font-family: "Arial Rounded MT Bold", sans-serif; /* Ejemplo de una fuente más "joven" */
  font-size: 50px; /* Tamaño del texto */
  text-decoration: none !important; /* Elimina cualquier subrayado */
  transition: color 0.3s; /* Suave transición de color */
}

.custom-navbar-brand:hover {
  color: lightgray !important; /* Cambia el color al pasar el mouse por encima */
}

.dj-thumbnail {
  width: 50px; /* Ajusta el ancho según prefieras */
  height: 50px; /* Ajusta la altura según prefieras */
  border-radius: 50%; /* Esto hará que la imagen sea redonda */
  margin-right: 10px; /* Un pequeño margen para separar la imagen del nombre */
  object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio del contenedor, incluso si no tiene las mismas proporciones */
}

.dj-card {
  width: 300px; /* anchura de la tarjeta */
  margin: 15px; /* espacio alrededor de la tarjeta */
  display: inline-block; /* para que se alineen horizontalmente */
}

.dj-card .card-img-top {
  max-width: 100%; /* para asegurar que la imagen no sobrepase el ancho de la tarjeta */
  max-height: 200px; /* altura máxima de la imagen */
  object-fit: cover; /* para recortar la imagen si excede las dimensiones */
}

.soundcloud-icon {
  width: 60px;
  height: 60px;
}

.soundcloud-icon:focus {
  outline: none;
}
